.content2 {
  background-color: #2cdd9d;
}

.header-artikel {
  text-align: center;
  margin-top: 20px;
}

.header-artikel h2 {
  color: white;
}

.card {
  width: 18rem;
  display: flex;
  justify-content: center;
}

.images-img {
  display: flex;
  justify-content: center;
}

.images-img > img {
  width: 12rem;
}

.card-img-article > img{
  width: 250px;
  border-radius: 20px;
  padding-top: 18px;
}

.title{
  padding: 0 20px;
}


