.aboutme {
  width: auto;

  background-color: #38554a;
}

.col h3 {
  margin: 30px 0 0 30px;
  color: white;
}

.col p {
  text-align: justify;
  width: 500px;
  margin: 10px 0 0 30px;
  color: white;
}

.images-logo > img{
  width: 80%;
  margin: 50px;
}
