.container-image{
    background-image: url('./about.jpg');
    background-size: cover;
    height: 100vh;
    margin-bottom: 5%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.container-sub{
    position: absolute;
    width: 60%;
    text-align: center;
}

.content-item > p, h1{
    color: #fff;
}

.container-pict{
    background-color: rgb(15, 161, 90);
}

@media only screen and (max-width: 600px) {
    .container-sub {
      width: 100%;
      padding: 20px;
    }
  }