.content-app {
  margin: 0 auto;
  margin-top: 30px;
}
.App-header {
  background-color: #64b99a;
  padding: 10px 0 10px 40px;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 50px;
}
.item {
  display: flex;
}

.content-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

a {
  text-decoration: none !important;
}

.content-item p {
  justify-content: center;
  align-items: center;
  text-align: justify;
  margin-right: 20px;
}
.image-item img {
  width: 300px;
  height: 200px;
  margin-left: 30px;
}

.card-text {
  display: flex;
}

.desc {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-align: justify;
}

.date {
  color: black !important;
  font-weight: bold;
  margin-top: 80px;
}
